# IG Publisher build artefacts
/output/
/output-dphr/
/qa/
/qa-dphr/
/temp/
/temp-dphr/
/template/
qa.html
qa-dphr.html
input-cache/
txCache/
fhir-all-xsd/
private/

# publisher run logs
build.log
build-dphr.log
Requirements-fromNarrative.json
